# Ignore all .rds files, regardless of case
*.[Rr][Dd][Ss]

# Ignore all .RData files, regardless of case
*.[Rr][Dd][Aa][Tt][Aa]

# Ignore all the data folders that you may have (eg. data/ DATA/ Data/)
#[Dd][Aa][Tt][Aa]/

# Ignore R config files
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/library/
renv/staging/

# Ignore .DS_Store files
.DS_Store
